.about-section {
  padding: 20px 20px 30px 30px;
  background: url(https://39646145.fs1.hubspotusercontent-na1.net/hubfs/39646145/CodeNinjas%20-%20Marketting%20Website/Gradients/BG-Gradient-1.png);
  background-position: top;
  background-size: cover;
  /* position: absolute; */
  z-index: 10;
  /* top: 380px; */
  text-align: center;
  margin-top: 300px;
}

.about-wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.about-wrapper h2 {
  color: #1a4e80;
  font-size: 44px;
  line-height: 78px;
  margin: 0;
  opacity: 1;
  text-transform: uppercase;
  margin-top: 10px;
}

.tagline {
  font-style: italic;
  color: #554e4e;
  margin-bottom: 20px;
  line-height: 10px;
}

.program-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.program-details {
  margin-bottom: 20px;
}
.program-details h3 {
  color: #12a1e387;

  text-transform: uppercase;
}
.program-details ul {
  list-style-type: none;
  padding: 0;
  max-width: 361px;
}

.program-details li {
  margin: 8px 0;
}

.robot {
  background: url("https://39646145.fs1.hubspotusercontent-na1.net/hubfs/39646145/CodeNinjas%20-%20Marketting%20Website/Gradients/camps%20bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 432px;
  width: 100%;
  max-width: 500px;
}
.robot-image {
  border-radius: 10px;
  max-width: 100%;
}
